build/
cmake-build-debug/
cmake-build-release/
*_generated*

clspv
LOG_DIR

.idea/

LOG_DIR/
*.pyc
zout_*
apps/resources/*
.vscode/settings.json
apps/01_intersectSphere/z_build.sh
apps/01_intersectSphere/include/TestClass_ubo.h
apps/02_spheresStupidPt/test.cl
apps/02_spheresStupidPt/z_build.sh
apps/02_spheresStupidPt/include/TestClass_ubo.h
apps/03_spheresStupidPt_loopBreak/z_build.sh
apps/03_spheresStupidPt_loopBreak/include/TestClass_ubo.h
apps/04_array_summ/test_class_ispc.cpp
apps/04_array_summ/test_class_kernels.h
apps/04_array_summ/test_class_kernels.ispc
apps/04_array_summ/test_class_kernels.o
apps/04_array_summ/z_build_ispc.sh
apps/04_array_summ/z_build.sh
apps/04_array_summ/.vscode/settings.json
apps/04_array_summ/include/Numbers_ubo.h
apps/05_filter_bloom_good/test_class_ispc.cpp
apps/05_filter_bloom_good/test_class_kernels.h
apps/05_filter_bloom_good/test_class_kernels.ispc
apps/05_filter_bloom_good/test_class_kernels.o
apps/05_filter_bloom_good/z_build_ispc.sh
apps/05_filter_bloom_good/z_build.sh
apps/05_filter_bloom_good/include/ToneMapping_ubo.h
apps/06_n_body/test_class_ispc.cpp
apps/06_n_body/test_class_kernels.h
apps/06_n_body/test_class_kernels.ispc
apps/06_n_body/test_class_kernels.o
apps/06_n_body/z_build_ispc.sh
apps/06_n_body/z_build.sh
apps/06_n_body/include/nBody_ubo.h
apps/07_simple_pt/include/TestClass_ubo.h
apps/08_push_back_red_pixels/z_build.sh
apps/08_push_back_red_pixels/z_out_cpu.bmp
apps/08_push_back_red_pixels/z_out_gpu.bmp
apps/08_push_back_red_pixels/include/RedPixels_ubo.h
apps/09_spharm/out.bin
apps/09_spharm/test_class_ispc.cpp
apps/09_spharm/test_class_kernels.ispc
apps/09_spharm/z_build_ispc.sh
apps/09_spharm/z_build.sh
apps/09_spharm/include/SphHarm_ubo.h
apps/10_virtual_func_rt_test1/z_build.sh
apps/10_virtual_func_rt_test1/include/TestClass_ubo.h
apps/11_IPTCompress/z_build.sh
apps/11_IPTCompress/include/ToneMapping_ubo.h
apps/12_Denoise/test_class_ispc.cpp
apps/12_Denoise/test_class_kernels.h
apps/12_Denoise/test_class_kernels.ispc
apps/12_Denoise/test_class_kernels.o
apps/12_Denoise/z_build_ispc.sh
apps/12_Denoise/z_build.sh
apps/12_Denoise/include/Denoise_ubo.h
apps/13_virtual_func_rt_test2/z_build.sh
apps/13_virtual_func_rt_test2/include/TestClass_ubo.h
apps/14_filter_bloom_textures/include/ToneMapping_ubo.h
apps/15_Denoise_textures/.vscode/settings.json
apps/15_Denoise_textures/include/Denoise_ubo.h
apps/16_simple_pt_inst/include/TestClass_ubo.h
apps/17_shadow_pt_inst/.vscode/settings.json
apps/17_shadow_pt_inst/include/TestClass_ubo.h
apps/18_simple_shadow_cast/include/TestClass_ubo.h
apps/19_simple_2d_cfd_solver/z_out_cpu.bmp
apps/19_simple_2d_cfd_solver/z_out_gpu.bmp
apps/19_simple_2d_cfd_solver/include/Solver_ubo.h
apps/20_mis_pt_textures/test_class_temp.cpp
apps/20_mis_pt_textures/.vscode/settings.json
apps/20_mis_pt_textures/include/Integrator_ubo.h
apps/20_mis_pt_textures/include/TestClass_ubo.h
apps/21_raymarch_v1/z_test_cpu.bmp
apps/21_raymarch_v1/z_test_gpu.bmp
apps/21_raymarch_v1/include/RayMarcher_ubo.h
apps/22_raymarch_v2/include/RayMarcher_ubo.h
apps/23_updated_cfd_solver/build.sh
apps/23_updated_cfd_solver/CMakeLists.txt
apps/23_updated_cfd_solver/.vscode/launch.json
apps/23_updated_cfd_solver/.vscode/tasks.json
.gitignore
apps/23_updated_cfd_solver/examples/2verticals_with_wall.gif
apps/23_updated_cfd_solver/examples/circleSolid.gif
apps/23_updated_cfd_solver/examples/comm_vessels.gif
apps/23_updated_cfd_solver/images/example_adding.gif
apps/23_updated_cfd_solver/include/stb_image_write.h
apps/23_updated_cfd_solver/include/stb_image.h
apps/23_updated_cfd_solver/src/main.cpp
apps/23_updated_cfd_solver/src/test_class.cpp
apps/23_updated_cfd_solver/src/test_class.h
apps/23_updated_cfd_solver/src/conf/Configuration.cpp
apps/23_updated_cfd_solver/src/conf/Configuration.h
apps/23_updated_cfd_solver/src/conf/ConfigurationBuilder.cpp
apps/23_updated_cfd_solver/src/conf/ConfigurationBuilder.h
apps/23_updated_cfd_solver/src/include/Solver_ubo.h
apps/23_updated_cfd_solver/src/render/IRenderer.h
apps/23_updated_cfd_solver/src/render/SimpleRenderer.cpp
apps/23_updated_cfd_solver/src/render/SimpleRenderer.h
apps/23_updated_cfd_solver/src/render/VulkanRender.cpp
apps/23_updated_cfd_solver/src/render/VulkanRender.h
apps/23_updated_cfd_solver/test/solver_test.h
apps/23_updated_cfd_solver/util/gif_creator.py
apps/24_reinhard_tm/kitchen.hdr
apps/24_reinhard_tm/reinhard_ispc.cpp
apps/24_reinhard_tm/reinhard_kernels.h
apps/24_reinhard_tm/reinhard_kernels.ispc
apps/24_reinhard_tm/reinhard_kernels.o
apps/24_reinhard_tm/z_build_ispc.sh
apps/24_reinhard_tm/.vscode/settings.json
apps/24_reinhard_tm/include/ReihardTM_ubo.h
apps/24_reinhard_tm/include/ReinhardTM_ubo.h
apps/25_mandelbrot/mandelbrot_ispc.cpp
apps/25_mandelbrot/mandelbrot_kernels.h
apps/25_mandelbrot/mandelbrot_kernels.ispc
apps/25_mandelbrot/mandelbrot_kernels.o
apps/25_mandelbrot/z_build_ispc.sh
apps/25_mandelbrot/include/Mandelbrot_ubo.h
apps/26_cleantext/valka_cpu.bmp
apps/26_cleantext/valka.jpg
apps/26_cleantext/.vscode/settings.json
apps/27_bfrt_perf/.vscode/settings.json
apps/27_bfrt_perf/include/TestClass_ubo.h
apps/LiteMath/.vscode/settings.json
apps/tests/001_loop_start/z_build.sh
apps/tests/001_loop_start/include/Numbers_ubo.h
apps/tests/002_loop_end/z_build.sh
apps/tests/002_loop_end/include/Numbers_ubo.h
apps/tests/004_setter/z_build.sh
apps/tests/004_setter/include/ArrayProcess_ubo.h
apps/tests/005_setter_member_func/include/ArrayProcess_ubo.h
apps/tests/006_combined_image_sampler/.vscode/settings.json
apps/tests/006_combined_image_sampler/include/TestCombinedImage_ubo.h
apps/tests/007_combined_image_sampler_array/.vscode/settings.json
apps/tests/007_combined_image_sampler_array/include/TestCombinedImage_ubo.h
apps/tests/008_combined_image_sampler_func_member/include/TestCombinedImage_ubo.h
apps/tests/009_padding_v1/include/Padding_ubo.h
apps/tests/010_padding_v2/include/Padding_ubo.h
apps/tests/011_padding_v3/include/Padding_ubo.h
apps/tests/012_padding_v4/include/Padding_ubo.h
apps/tests/013_padding_v5/include/Padding_ubo.h
apps/tests/014_padding_v6/include/Padding_ubo.h
apps/tests/015_padding_v7/include/Padding_ubo.h
apps/tests/016_double_v1/include/Numbers_ubo.h
apps/tests/017_assigment_no_reduction/include/Numbers_ubo.h
apps/tests/018_compos_v1/include/TestClass_ubo.h
apps/volk
